.contact-container {
  padding: 6rem 2rem;
  display: flex;
  flex-direction: column;
  // align-items: center;
  margin: 0 auto;
  max-width: 1200px;

  @media screen and (max-width: 500px) {
    margin-top: 3rem;
    padding: 1rem;
  }

  .contact--top-container {
    display: flex;

    @media screen and (max-width: 945px) {
      flex-direction: column;
    }
  }

  .contact-left {
    width: 45%;

    @media screen and (max-width: 945px) {
      width: 100%;
    }

    h1 {
      font-family: Millik;
      font-size: 24px;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0em;
      text-align: left;
      margin-bottom: 22px;

      @media screen and (max-width: 1071px) {
        font-size: 20px;
      }

      @media screen and (max-width: 500px) {
        font-size: 14px;
      }
    }

    .contact-desc {
      font-family: Mulish;
      font-size: 16px;
      font-weight: 500;
      line-height: 25px;
      letter-spacing: 0em;
      text-align: left;
      margin-bottom: 47px;

      @media screen and (max-width: 500px) {
        font-size: 12px;
      }
    }

    .contact-line {
      max-width: 483px;
      width: 100%;
    }

    span {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      margin-bottom: 1rem;

      @media screen and (max-width: 500px) {
        margin-bottom: 0.7rem;
      }

      p {
        font-family: DM Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 37px;
        letter-spacing: 0em;
        text-align: left;

        @media screen and (max-width: 500px) {
          font-size: 13px;
          font-weight: 400;
          line-height: 16px;
        }
      }

      img {
        width: 17px;
        height: 17px;

        @media screen and (max-width: 500px) {
          width: 13.88px;
          height: 16.66px;
        }
      }
    }

    .socials-background {
      @media screen and (max-width: 500px) {
        margin-bottom: 5rem;
      }

      h2 {
        margin: 30px 0px;
        font-family: Mulish;
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;

        @media screen and (max-width: 500px) {
          font-size: 14px;
        }
      }

      .socials {
        .social-image-background {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #f5e3d2;
          height: 34px;
          width: 34px;
          border-radius: 245454.546875px;
          cursor: pointer;

          @media screen and (max-width: 500px) {
            height: 22px;
            width: 22px;

            img {
              height: 10px;
              width: 10px;
            }
          }
        }
      }
    }
  }

  .contact-right {
    width: 55%;
    padding-left: 2rem;

    @media screen and (max-width: 945px) {
      width: 100%;
      padding-left: 0rem;
    }

    .contact-form {
      .contact-form-names {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.5rem;
        row-gap: 2rem;
        margin-bottom: 2rem;
      }

      @media screen and (max-width: 945px) {
        grid-template-columns: 1fr;
      }

      input {
        height: 55.41870880126953px;
        // max-width: 382.9856262207031px;
        width: 100%;
        background: #eff0f6;
        border-radius: 18.854677200317383px;
        //styleName: Desktop / Text Small;
        font-family: Poppins;
        font-size: 12px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.75px;
        text-align: left;
        color: #a0a3bd;
        padding-left: 1.5rem;
        outline: none;
        border: none;

        &::placeholder {
          color: #a0a3bd;
        }

        @media screen and (max-width: 945px) {
          max-width: 945px;
        }

        @media screen and (max-width: 500px) {
          height: 37.78470230102539px;
          border-radius: 9.432329177856445px;
          //styleName: Desktop / Text Small;
          font-family: Poppins;
          font-size: 9px;
          font-weight: 400;
          line-height: 17px;
          letter-spacing: 0.4421404302120209px;
          text-align: left;
        }
      }

      .type-number {
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
    }

    textarea {
      height: 219.1408386230469px;
      max-width: 945px;
      width: 100%;
      background: #eff0f6;
      border-radius: 39.94140625px;
      margin-top: 2rem;
      font-family: Poppins;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 1.872253656387329px;
      text-align: left;
      padding: 1.5rem;
      outline: none;
      border: none;
      color: #a0a3bd;

      &::placeholder {
        color: #a0a3bd;
      }

      @media screen and (max-width: 500px) {
        height: 159.8583526611328px;
        border-radius: 19.98127555847168px;
        font-family: Poppins;
        font-size: 9px;
        font-weight: 400;
        line-height: 35px;
      }
    }

    button {
      height: 50.17253875732422px;
      max-width: 945px;
      width: 100%;
      border-radius: 9.612675666809082px;
      border: none;
      font-family: Mulish;
      font-size: 14px;
      font-weight: 500;
      line-height: 29px;
      letter-spacing: 0em;
      text-align: center;
      color: #fff;
      background: var(--primary-color);
      margin-top: 2rem;
      cursor: pointer;

      @media screen and (max-width: 500px) {
        height: 36px;
        border-radius: 4.9635539054870605px;
        font-family: Mulish;
        font-size: 10px;
        font-weight: 500;
        line-height: 15px;
      }
    }
  }
}

.map-container {
  height: 400px; /* Adjust the height as needed */
  max-width: 1568px;
  width: 100%;
  border-radius: 20px;
  background: url("../public/img/map.jpeg");
  margin-top: 2rem;
  margin-bottom: 5rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media screen and (max-width: 500px) {
    display: none;
  }
}

.freq-container {
  // width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  margin-bottom: 4rem;

  h1 {
    color: #bb5d06;
    font-family: Millik;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    text-align: center;

    @media (max-width: 768px) {
      font-size: 24px;
      text-align: center;
    }
  }

  .freq-tab {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 2rem;

    @media (max-width: 900px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
