
$color_1: #ffffff;
$font-family_1: Arial;
$background-color_1: DodgerBlue;
$background-color_2: rgba(0, 0, 0, 0.1);
$border-color_1: #fff transparent transparent transparent;
$border-color_2: transparent transparent #fff transparent;
$border-color_3: transparent transparent rgba(0, 0, 0, 0.1) transparent;

/* The container must be positioned relative: */
/* Style the arrow inside the select element: */
/* Point the arrow upwards when the select box is open (active): */
/* style the items (options), including the selected item: */
/* Style items (options): */
/* Hide the items when the select box is closed: */
.custom-select {
    // position: relative;
    font-family: $font-family_1;
    select {
        display: none;
    }
}
.select-selected {
    background-color: $background-color_1;
    color: $color_1;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: $border-color_3;
    cursor: pointer;
    &:after {
        position: absolute;
        content: "";
        top: 14px;
        right: 10px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-color: $border-color_1;
    }
}
.select-selected.select-arrow-active {
    &:after {
        border-color: $border-color_2;
        top: 7px;
    }
}
.select-items {
    div {
        color: $color_1;
        padding: 8px 16px;
        border: 1px solid transparent;
        border-color: $border-color_3;
        cursor: pointer;
        &:hover {
            background-color: $background-color_2;
        }
    }
    position: absolute;
    background-color: $background-color_1;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}
.select-hide {
    display: none;
}
.same-as-selected {
    background-color: $background-color_2;
}
